# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Build files
**/build/
**/dist/

# Coverage
**/coverage/

# Hardhat
**/artifacts/
**/cache/

# Misc
.DS_Store

#Local deployment on Anvil
**/broadcast/

# Ignore generated deployment run files
broadcast/DeployMarketplace.s.sol/80002/run-latest.json

# Ignore ProfilePage component changes
nft-marketplace/src/components/ProfilePage.js

# Ignore Marketplace contract ABI changes
nft-marketplace/src/contracts/Marketplace.json
